<h2>Editing: </h2>
<br><br>
<p>
    <form method='post' action='/video_games/<%= @video_game.id %>'>
        <input type='hidden' name='_method' value='patch'>
        <label>Title: </label>
        <input type='text' name='title' value='<%= @video_game.title %>'>
        <br>
        <label>Developer: </label>
        <input type ='text' name='developer' value='<%= @video_game.developer %>'>
        <br>
        <label>Date Purchased: </label>
        <input type='date' name='date_purchased' value='<%= @video_game.date_purchased %>'>
        <br>
        <label>Description: </label>
        <input type='text' name='description' value='<%= @video_game.description %>'>
        <br><br>
        <input type='submit' value='Edit Listing'>
    </form>
</p>