<a href='/video_games' class="button">Back to Index</a>
<h2>Editing: </h2>
<br><br>
<p>
    <form method='post' action='/video_games/<%= @video_game.id %>'>
        <input type='hidden' name='_method' value='patch'>
        <table style='text-align: left'>
            <tr>
                <td>Title: </td>
                <td><input type='text' name='video_game[title]' value="<%= @video_game.title %>" required></td>
            </tr>
            <tr>
                <td>Developer: </td>
                <td><input type ='text' name='video_game[developer]' value="<%= @video_game.developer %>" required></td>
            </tr>
            <tr>
                <td>Date Purchased: </td>
                <td><input type='date' name='video_game[date_purchased]' value="<%= @video_game.date_purchased %>" required></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><textarea name='video_game[description]' required><%= @video_game.description %></textarea></td>
            </tr>
        </table>
        <br><br>
        <input type='submit' value='Edit Listing'>
    </form>
</p>