<h1>Listing for:</h1>
<br>
<p>
    <label>Title: </label><%= @video_game.title %>
    <br>
    <label>Developer: </label><%= @video_game.developer %>
    <br>
    <label>Date Purchased: </label><%= @video_game.date_purchased%>
    <br>
    <label>Description: </label><%= @video_game.description%>
    <br><br>
    <a href='/video_games/<%= @video_game.id %>/edit'>Edit Listing</a>
    <br><br>
</p>