<a href='/video_games' class="button">Back to Index</a>
<h1>Listing for: <%= @video_game.title %></h1>
<p>
    <table style='text-align: left'>
        <tr>
            <td>Developer: </td>
            <td><%= @video_game.developer %></td>
        </tr>
        <tr>
            <td>Date Purchased: </td>
            <td><%= @video_game.date_purchased%></td>
        </tr>
        <tr>
            <td>Description: </td>
            <td><%= @video_game.description%></td>
        </tr>
    </table>
    <br><br>
    <a href='/video_games/<%= @video_game.id %>/edit' class="button">Edit Listing</a>
</p>