<h2>Welcome to your list, <%= @gamer.username %>.</h2>
<form method='post' action='/gamer/<%= @gamer.id %>'>
    <input type='hidden' name='_method' value='delete'>
    <button onclick="return confirm('Are you sure you want to delete your account?');">Delete Account</button>
</form>
<br><br>
<% if @gamer.video_games.empty? %>
    <%= "You do not have any games on your list. "%><a href='/new'>Add a Game!</a>
<% else %>
    <table width='50%' style="text-align:left">
        <tr>
            <th>Game Title</th>
            <th>Developer</th>
            <th>Date Purchased</th>
            <th>Description</th>
        </tr>
        <% @gamer.video_games.each do |game| %>
        <tr>
            <td><a href='/video_games/<%= game.id %>'><%= game.title %></a></td>
            <td><%= game.developer %></td>
            <td><%= game.date_purchased %></td>
            <td><%= game.description %></td>
            <td>
                <form method='post' action='/video_games/<%= game.id %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <button onclick="return confirm('Are you sure you want to delete this listing?');">Delete Listing</button>
                </form>
            </td>
        </tr>
        <% end %>
    </table>
    <form action='/new'>
        <button onclick="return confirm('Creating a new entry. Proceed?')">Add a Game</button>
    </form>
<% end %>
<br><br>
<form action='/logout'>
    <button onclick="return confirm('Want to logout?')">Logout</button>
</form>